<nav>
    <img src="https://www.actcorp.in/sites/default/files/logo.png" alt="logo">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">User</a></li>

    </ul>
</nav>
<section>
<h3>content</h3>

<p>
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p>
<div>
   <!-- // show/hide fn -->
    <!-- <button (click)="toggle()">Toggle</button>
    <h2 *ngIf="display">toggle this line</h2> -->

<!-- // bootstrap install in NG  -->



</div>
</section>
<footer>
    <h3>footer</h3>
</footer>