<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                       
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                        <li><a href="#">Internet</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                        
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>ACT</h3>
                    <p>Atria Convergence Technologies Limited, branded as ACT, is an Indian telecommunications company headquartered in Bengaluru, Karnataka, India. ACT offers fibre to the home services under the brand name…</p>
                </div>
                <div class="col item social">
                   
                    <P>FOLLOW US ON SOCIAL MEDIA
                    </P>

                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                   
                </div>
            </div>
            <p class="copyright">ACT © 2000</p>
        </div>
    </footer>
</div>